body, html {
  height: 100%;
  margin: 0;
}

body {
    font-family: 'Playfair Display SC', serif;
    background-color: #f7f3eb;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
     display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;  /* нету прокрутки страницы */
  align-items: center;
   justify-content: center;
}

.casadeAmigos {
      background-position: center;
      color: #223580;
    font-size: 80px;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      opacity: 0;
      transform: translateY(40px); /* начальная позиция — чуть ниже */
      animation: slideUpFadeIn 1s ease-out forwards;
    }

    @keyframes slideUpFadeIn {
      to {
        opacity: 1;
        transform: translateY(0); /* финальная позиция */
      }
    }



.mozaika1left {
    left: 0;
    font-size: 95px;

    position: fixed;
    top: 0;
    height: 100vh;
    width: auto;
    z-index: 1; 
}

.center-content {
  text-align: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
   justify-content: center;
    margin-top: 5px;
    padding-top: 60px; /* отступ сверху */
    gap: 3px;
}

.hola {
    background-position: center;
      color: #223580;
      font-size: 30px;
}
.login-box, .login-box * {
  color: #223580; 
}
.login-box {  
      background: white;
      box-shadow: 0 0 10px rgba(222, 222, 222, 0.2);
      border: none; /* обводка */
      border-radius: 10px;
      padding: 50px 40px;
      width: 400px;
      max-width: 450px;
      margin: 0 auto;
      position: relative;
      z-index: 11;
      background: rgba(255, 255, 255, 0.5);
      box-sizing: border-box;

      display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
    }



    input[type="password"] {
      padding: 10px 0;
      width: 100%;
      font-size: 16px;
      border-bottom: 1px solid #223580;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      color: #223580;
      outline: none;
      background: transparent;
    }

    #passwordInput {
  color: #326fff80;              /* цвет текста */
  font-size: 15px;          /* размер шрифта */
  font-family: 'Playfair Display SC', serif;
  padding: 10px;
  box-sizing: border-box;
}

  



    .error {
      color: red;
    }

.frame {
text-align: center;
width: 100%;
font-size: 30px;
max-width: 600px;
margin: 40px auto 0;
z-index: 10;
margin-left: 40px;
}



/* кнопка */
.custom-btn {
  width: 100%;
  max-width: 400px;
  height: 40px;              /* высота */
  background-color: #223580; 
  color: #f7f3eb;            
  border: none;
  border-radius: 12px;       /* более округлые углы */
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;           /* размер текста */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;        /* добавил паддинги из первого блока */
  margin: 0 auto;
  position: relative;
  box-shadow:
    inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5),
    7px 7px 20px 0 rgba(0, 0, 0, 0.1),
    4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease;
}












.btn-6 {
  background: rgb(64, 193, 249);
background: radial-gradient(circle, #76aef1 0%, #76aef1 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover{
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}


#errorMessage {
  color: red;
  font-family: 'Playfair Display SC', serif;
  font-size: 12px;
  margin-top: 10px 10px;
}